body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  border-radius: 6px;
}

.square:focus {
  outline: invert;
  background: #999;
}

.kbd-navigation .square:focus {
  background: #ddd;
}


.rollback {
  list-style-type: none;
  border: none;
  padding: 1px;
  font-size: 12px;
  margin: 8px;
  background-color: rgb(62, 143, 62);
  color: white;
  font-size: 14px;
  border-radius: 10px;
}

.game {
  /* display: flex; */
  flex-direction: row;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.game-info {
  margin-top: 40px;
  width: 100%;
}

.status {
  font-weight: bold;
  color: rgba(16, 16, 189, 0.726);
  text-align: center;
  width: 100%;
}